/* This will refer to the rest of the HTML sheet after the header.css   */


main {
    width: 100%;
    /* This calc function helps to move the rest of the website below the sticky header, 
    the header is 60px high and it cuts-off the next section, 
    so we use the calc to essentially push the rest of the website slightly 
    down so the top is not hidden by the website header which is locked to the top */
    height: calc(100vh - 60px);
    margin-top: 60px;
    /* for the background image, there is a hierarchy, so put them in stack order of what should be in front vs behind */
    background-image: url(../img/me.png), url(../img/bg.png);
    /* VH is good because it actually adjusts the size of the image based on device size */
    background-size: 60vh, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
    display: flex;
    justify-content: center;
    align-items: center ;
}

main .main-intro h1 {

    font-size: 96px;
    line-height: 106px;
}

main p {
    font-size: 18px;
    line-height: 30px;
}

main a {
    margin-top: 20px;
    font-size: 18px;
    display: block;
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 27px;
    color: #1e1e1e;
}

main a:hover{
    
    background-color: var(--site-color-1-hover);
    color: white;
    
}

main .main-quotes h2{
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    line-height: 30px;
    /* border-left: solid; */
    border-color: white;
    padding-left: 10px;
    text-decoration: underline;
}

main .main-quotes p{
    border-left: solid;
    border-color: white;
    padding-left: 10px;
    margin: 40px 0;
}

/* You can use the nth child pseudo class to target the 2nd etc of a specified container */

main .main-quotes p:nth-child(3){
   margin-left: 100px;
}

main .main-quotes {
    position: relative;
    left: 4vh;
}

main .main-intro {
    position: relative;
    right: 10vh;

}

/* Category Styling */

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.index-category p {
    color: black;
    text-align: center;
    padding: 40px;
    flex-basis: 100%;
    font-size: 30px;


}

.index-category-box {
    width: 250px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /*This adds the dark hover effect*/
    
}

/* the reason we are starting at 2 here is because the paragraph counts as a child so it is one */

.index-category-box:nth-child(2) {
    background-image: url(../img/web.png);
    border: 2px black;
    border-style: solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.index-category-box:nth-child(3) {
    background-image: url(../img/tax.png);
    border: 2px black;
    border-style: solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.index-category-box:nth-child(3):hover {
    background-image: url(../img/calculator-8495_256.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

.index-category-box:nth-child(4) {
    background-image: url(../img/tax.png);
    border: 2px black;
    border-style: solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.index-category-box:nth-child(5) {
    background-image: url(../img/cons.png);
    border: 2px black;
    border-style: solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* How to add dark hover in effect */

.dark-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

/* Ending dark hover effect */

.index-category-box h3 {
    font-size: 20px;
    line-height: 24px;
    color: black;
    /* How to create text shadow */
    text-shadow: -2px 2px 4px #000;
    z-index: 100; /*Also important for the dark hover effect*/
}

