
/* Added the root where you can add variables to reference all over the place, by simply using the var() function. 
This allows the change in one place to change multiple variables around the code.*/
:root {
    --head-foot: white;
}



body {
    background-color: #1e1e1e;
    
}

a {
    cursor: pointer;
}

header {
    background-color: var(--head-foot); 
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.left {
    background-color: blue;
    height: 100%;
    width: fit-content;
    padding-left: 60px;
    display: flex;
}

.left ul {
    margin-left: 10px;
   
}

.left ul li {
    display: inline;
    float: left;
   
}

.left ul li a {
    padding: 0 10px;
    font-family: 'Roboto',sans-serif;
    line-height: 60px;
}

.left img {
    height: 40px;
    align-self: center;
}

.menu-items {
    background-color: rgb(132, 0, 255);
    height: 100%;
    width: fit-content;
    
}

.sm-links {
    background-color: rgb(217, 255, 0);
    height: 100%;
    width: fit-content;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sm-links-gh{ 
    width: 20px;
    height: 20px;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sm-links-ln{ 
    width: 20px;
    height: 20px;
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sm-links-in{ 
    width: 20px;
    height: 20px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}